.app {
    background-color: white;
    border-radius: 1em;
    padding: 2em;
}

@media (max-width: 500px) {
    .app {
        padding: 1em;
        border-radius: 0;
    }

    .header {
        font-size: 0.8em;
    }

    .mark-read-button {
        padding: 0.5em !important;
    }
}

.notifications-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.counter-container {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.counter {
    vertical-align: middle;
    padding: 0.2em 0.6em;
    background-color: hsl(209, 82%, 33%);
    color: white;
    font-weight: 800;
    border-radius: 0.5em;
}

.mark-read-button {
    background-color: inherit;
    border: none;
    color: hsl(219, 12%, 42%);
    padding: 1em;
    border-radius: 0.5em;
    cursor: pointer;
}

.mark-read-button:hover {
    color: hsl(209, 82%, 33%);

}

.full-notification {
    display: flex;
    max-width: 40em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: hsl(210, 60%, 98%);
}

.read {
    background-color: inherit;
}

.notification-content {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    align-self: center;
    flex: 1 0 0;
}

.image {
    height: 50px;
    flex: 0 0 50px;
    position: relative;
}

.image img {
    object-fit: contain;
    position: absolute;
    width: 100%;
    height: 100%;
}

.message {
    border: 1px solid hsl(211, 68%, 94%);
    border-radius: 0.2em;
    padding: 0.8em;
    margin: 1em 0;
    color: hsl(219, 12%, 42%)
}

.message:hover {
    background-color: hsl(211, 68%, 94%);
    cursor: pointer;
}

.time {
    color: hsl(219, 14%, 63%)
}

.text-container div {
    display: inline;
}


.unread {
    margin-left: 0.3em;
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: red;
    vertical-align: middle;
}

.name {
    font-weight: 800;
    cursor: pointer;
}

.name:hover {
    color: hsl(209, 82%, 33%);
}

.text {
    margin-left: 0.3em;
    color: hsl(219, 12%, 42%)
}

.event-name {
    margin-left: 0.3em;
    font-weight: 800;
    color: hsl(219, 12%, 42%);
    cursor: pointer;
}

.event-name:hover {
    color: hsl(209, 82%, 33%);

}

.club-name {
    margin-left: 0.3em;
    font-weight: 800;
    color: hsl(209, 82%, 33%);
}


.picture-container {
    display: flex;
    flex: 0 0 50px;
}

.picture {
    height: 50px;
    width: 50px;
}

